.main {
  margin: auto;
  text-align: center;
  width: 100%;
  position: relative;
}
.landing {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 75px;
}
.landing-pic {
  size: 50%;
}
.corner {
  position: absolute;
}
.top-right {
  right: 0;
  top: 0;
}
.top-left {
  left: 0;
  top: 0
}
.link {
  text-decoration: none;
  color: black;
}
.light {
  color: white;
}
.light:hover {
  color: white;
}
.sidebar {
  width: 65px;
  height: 65px;
  color: black;
  font-size: 35px;
  background-color: white;
  border: 4px solid black;
}
.remember-me {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
  margin-bottom: 05px;
}
.home {
  padding: 100px 200px;
}
.sidebar-body {
  display: flex;
  flex-direction: column;
}
.sidebar-account {
  justify-self: flex-end;
}
.flex-horizontal {
  display: flex;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.space-between {justify-content: space-between;}
.center {justify-content: center;}
.gap-sm {gap: 5px;}
.gap-md {gap: 10px;}
.gap-lg {gap: 20px;}
.restaurants {
  display: flex;
  justify-content: center;
}
.restaurants-container {
  width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.relative {position: relative;}
.z-one {
  z-index: 1;
}
.alert {
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 100;
}