.main {
  margin: auto;
  text-align: center;
  width: 100%;
  position: relative;
}
.landing {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 75px;
}
.landing-pic {
  size: 50%;
}
a {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: black;
}
.sidebar {
  width: 65px;
  height: 65px;
  color: black;
  font-size: 35px;
  background-color: white;
  border: 4px solid black;
}
.remember-me {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
  margin-bottom: 05px;
}